{% include 'base.html' %}
<body>
    <div class="page-wrapper">
           <div class="container-fluid">
            {% block content %}
                <div class="container">
                    <div class="card w-50 p-5">
                        <div class="text-center">
                            <h2>{{type}} Form</h2>
                            <div class="bg-primary w-25 mx-auto">
                            <hr>
                            </div>
                        </div>
                       <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_place">Place:</label> 
        <input type="text" name="place" maxlength="100" required="" id="id_place" class="form-control"></div>
<div class="form-group">
    <label for="id_date">Date:</label>
    <input type="date" name="date" required="" id="id_date" class="form-control"></div>
<div>
<div class="form-group">
    <label for="id_time">Time:</label>
    <input type="time" name="time" required="" id="id_time" class="form-control" min="09:00" max="18:00" required></div>
<div>
    <div class="row">
        <div class="col">
        <div class="form-group">
            <label for="id_lecture">Lecture:</label> 
            <select name="lecture" required="" id="id_lecture" class="form-select">
                {% for i in lecture %}
                <option value="{{i.id}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        </div>
        <div class="col-3"><br>
            <a href="{% url 'MyLectureCreate' %}" class="btn btn-sm btn-outline-primary float-right h1"> + Add Lecture</a>
        </div>
    </div>

</div>
<button type="submit" class="btn btn-primary">Schedule</button>
</form>
                     
                    </div>
                </div>
{% endblock %}
</div></div>
</body>